<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Testing Bootstrap</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
   </head>
   <body>
      <div class="container">
            
         <div class="row">
            <div class="col-md-4 col-md-offset-3">
               <div class="text-center">
                  <h1>Test bootstrap</h1>
               </div>
            </div>
            <div class="col-md-4 col-md-offset-3">
               <div class="text-center">
                  <h1>Tes whkwkdwh hdwhjkdw jdwh dejejdnt bootstrap</h1>
               </div>
            </div>
            <div class="col-md-4 col-md-offset-3">
               <div class="text-center">
                  <h1>Test bootstrap dwkdbkw</h1>
               </div>
            </div>

         </div>

         <div class="row">
            <div class="col-md-6 offset-md-3">
               <div class="text-center">
                  <b>woww!!</b>
               </div>
         </div>
      </div>
   </body>
</html>
